<div class="container">
    <div class="middle-footer">
     <div class="row">
         <div class="col-sm-3">
             <div class="logo-footer">
                 <img src="images/logo.png" alt="">
             </div>
             <p class="text-footer">We are a team of designers<br> and developers that create high quality Magento, Prestashop, Opencart.</p>
             <h4 class="contact-f">Contacts Info:</h4>
             <ul class="contact-item">
                 <li><i class="fa-solid fa-location-dot"></i> huyện Hòn Đất, tỉnh Kiên Giang.</li>
                 <li><i class="fa-solid fa-envelope"></i> dangxuanhau248@gmail.com</li>
                 <li><i class="fa-solid fa-phone"></i> +84 775 313 42</li>
             </ul>
         </div>
         <div class="col-sm-3">
             <h5 class="title-footer">information</h5>
             <ul class="contact-item">
                 <li>About Us</li>
                 <li>Delivery Information</li>
                 <li>Privacy Policy</li>
                 <li>Terms & Conditions</li>
                 <li>Warranty</li>
                 <li>FAQ</li>
             </ul>

         </div>
         <div class="col-sm-3">
             <h5 class="title-footer">extras</h5>
             <ul class="contact-item">
                 <li>Brands</li>
                 <li>Gift Certificates</li>
                 <li>Specials</li>
                 <li>Affiliate</li>
                 <li>Contact Us</li>
                 <li>Site Map</li>
                 <li>Returns</li>
             </ul>
         </div>
         <div class="col-sm-3">
             <div class="box">
                 <h5 class="title-footer">newsletter</h5>
                 <div class="box-content">
                     <p class="text-box">Subscribe to our newsletter and get 10% off your first purchase</p>
                
                 <div class="form-sub">
                     <form>
                         <input type="text" placeholder="Enter you email address here..." class="sub-email">
                     </form>
                     <button class=" subcribe">Subscribe</button>
                 </div>
             </div>
             </div>
         </div>
     </div>  
    </div>
    <div class="bottom-footer">
         <div class="row">
             <div class="col-sm-6 col-md-6">
                 <p class="copyright-text">Copyright @ 2022 <span style="color:black">Nevara</span>. All Right Reserved</p>
             </div>
             <div class="col-sm-6 col-md-6 bottom-footer__right">
                 <div class="social-footer">
                     <ul class="list-unstyled">
                         <li>
                             <a href="#"><i class="fa-brands fa-twitter"></i></a>
                         </li>
                         <li>
                             <a href="#"><i class="fa-brands fa-instagram"></i></a>
                         </li>
                         <li>
                             <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
                         </li>
                         <li>
                             <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
    </div>
 </div>