<section class="banner">
    <div class="container">
        <div class="row">
             <div class="col-md-12">
              <div id="demo" class="carousel slide" data-bs-ride="carousel">
    
                  <!-- Indicators/dots -->
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                  </div>
                  
                  <!-- The slideshow/carousel -->
                  <div class="carousel-inner ">
                    <div class="carousel-item active banner1">
                      <img src="images/banner/banner1.jpg" alt="Los Angeles" class="d-block" style="width:100%">
                      <div class="text-banner1">
                         <div class="text-banner1__top">
                          <h3>Home Decor Shopping <br>Made Easy</h3>
                          <p>Register now and get 10% off</p>
                         </div>
                         <div class="text-banner1__bottom">
                           <a href="#">shop now</a>
                          </div>
                         
                      </div>
                    </div>
                    <div class="carousel-item banner1">
                      <img src="images/banner/banner2.jpg" alt="Chicago" class="d-block" style="width:100%">
                      <div class="text-banner1">
                          <div class="text-banner1__top">
                              <h3>Shelves With Home Decor <br>In Moderen Room</h3>
                              <p>We'll give you a FREE delivery</p>
                          </div>
                          <div class="text-banner1__bottom">
                             <a href="#">shop now</a>
                          </div>
                          
                      </div>
                    </div>
                  </div>
                  
                  <!-- Left and right controls/icons -->
                  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </button>
                </div>
             </div>
        </div>
    </div>
</section>
<section class="product-container main-row">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <div class="module-title col-md-12 col-sm-12 text-center">
                            <p class="product-description">Top sale in this week</p>
                            <h2 class="product-title">best seller</h2>
                        </div>
                   
                    <div class="row text-center row-container">
                        <div class="col-md-3">
                            <div class="product-cart">
                                <div class="product-img">
                                    <img src="images/products/sp1.jpg" width="270" height="340">
                                    <span class="discount-tag">New</span>
                                    <div class="overlay__shop"><a href="#!detailproduct"><i class="fa-solid fa-eye"></i> Quick View</a></div>
                                </div>
                                <div class="product-info text-center">
                                  <h3 class="product-name">
                                    Modern Desk Lamp
                                  </h3>
                                  <a href="#" class="add-cart">+ Add To Cart</a>
                                  <p class="price">$100.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-cart">
                                <div class="product-img">
                                    <img src="images/products/sp2.jpg" width="270" height="340">
                                    <span class="discount-tag">New</span>
                                    <div class="overlay__shop"><a href="#!detailproduct"><i class="fa-solid fa-eye"></i> Quick View</a></div>
                                </div>
                                <div class="product-info text-center">
                                  <h3 class="product-name">
                                    Placerat Volutpat
                                  </h3>
                                  <a href="#" class="add-cart">+ Add To Cart</a>
                                  <p class="price">$1,000.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-cart">
                                <div class="product-img">
                                    <img src="images/products/sp3.jpg" width="270" height="340">
                                    <span class="discount-tag">New</span>
                                    <div class="overlay__shop"><a href="#!detailproduct"><i class="fa-solid fa-eye"></i> Quick View</a></div>
                                </div>
                                <div class="product-info text-center">
                                  <h3 class="product-name">
                                    Decorative Vase
                                  </h3>
                                  <a href="#" class="add-cart">+ Add To Cart</a>
                                  <p class="price">$100.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-cart">
                                <div class="product-img">
                                    <img src="images/products/sp4.jpg" width="270" height="340">
                                    <span class="discount-tag">New</span>
                                    <div class="overlay__shop"><a href="#!detailproduct"><i class="fa-solid fa-eye"></i> Quick View</a></div>
                                </div>
                                <div class="product-info text-center">
                                  <h3 class="product-name">
                                    Dictum Idrisus
                                  </h3>
                                  <a href="#" class="add-cart">+ Add To Cart</a>
                                  <p class="price">$500.00</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="banner5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-6">
                <img src="images/banner/banner5-1.jpg">
            </div>
            <div class="text-banner5 col-sm-6 col-md-6">
                <h3>Chandeliers & Pendants</h3>
                <h5>Extra 10% Off Select Lingting</h5>
                <a href="#">shop now</a>
            </div>
        </div>
    </div>
</section>
  <section class="banner5">
    <div class="container">
        <div class="row">
            <div class="text-banner5 col-sm-6 col-md-6 col-6">
                <h3>Home Deco</h3>
                <h5>Sale 30% Off</h5>
                <a href="#">shop now</a>
            </div>
            <div class="col-sm-6 col-md-6 col-6">
                <img src="images/banner/banner5-2.jpg">
            </div>
        </div>
       
    </div>
  </section>
<section class="banner6">
    <div class="container">     
      <div class="row">
          <div class="col-md-12 col-sm-12">
            <img src="images/banner/banner6.jpg">   
            <div class="text-banner">
                <h2>Interior Creativity With Nevara</h2>
                <a href="#">view more</a>
            </div>
          </div>
      </div>
    </div>
</section>
<section class="product-container main-row">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <div class=" module-title col-md-12 col-sm-12 text-center">
                            <p class="product-description">Top new in this week</p>
                            <h2 class="product-title">new products</h2>
                        </div>
                   
                    <div class="row text-center row-container">
                        <div class="col-md-3">
                            <div class="product-cart">
                                <div class="product-img">
                                    <img src="images/products/sp1.jpg" width="270" height="340">
                                    <span class="discount-tag">New</span>
                                    <div class="overlay__shop"><a href="#!detailproduct"><i class="fa-solid fa-eye"></i> Quick View</a></div>
                                </div>
                                <div class="product-info text-center">
                                  <h3 class="product-name">
                                    Modern Desk Lamp
                                  </h3>
                                  <a href="#" class="add-cart">+ Add To Cart</a>
                                  <p class="price">$100.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-cart">
                                <div class="product-img">
                                    <img src="images/products/sp2.jpg" width="270" height="340">
                                    <span class="discount-tag">New</span>
                                    <div class="overlay__shop"><a href="#!detailproduct"><i class="fa-solid fa-eye"></i> Quick View</a></div>
                                </div>
                                <div class="product-info text-center">
                                  <h3 class="product-name">
                                    Placerat Volutpat
                                  </h3>
                                  <a href="#" class="add-cart">+ Add To Cart</a>
                                  <p class="price">$1,000.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-cart">
                                <div class="product-img">
                                    <img src="images/products/sp3.jpg" width="270" height="340">
                                    <span class="discount-tag">New</span>
                                    <div class="overlay__shop"><a href="#!detailproduct"><i class="fa-solid fa-eye"></i> Quick View</a></div>
                                </div>
                                <div class="product-info text-center">
                                  <h3 class="product-name">
                                    Decorative Vase
                                  </h3>
                                  <a href="#" class="add-cart">+ Add To Cart</a>
                                  <p class="price">$100.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-cart">
                                <div class="product-img">
                                    <img src="images/products/sp4.jpg" width="270" height="340">
                                    <span class="discount-tag">New</span>
                                    <div class="overlay__shop"><a href="#!detailproduct"><i class="fa-solid fa-eye"></i> Quick View</a></div>
                                </div>
                                <div class="product-info text-center">
                                  <h3 class="product-name">
                                    Dictum Idrisus
                                  </h3>
                                  <a href="#" class="add-cart">+ Add To Cart</a>
                                  <p class="price">$500.00</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>